<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM9j6eOi0nTF4CxuaP2f1Q6H6H2W3qfGo</string>
	<key>GCM_SENDER_ID</key>
	<string>310551871572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businessFinanceManagementApk</string>
	<key>PROJECT_ID</key>
	<string>expense-manager-e2760</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-manager-e2760.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310551871572:ios:b26342b60d96fb968eadc1</string>
</dict>
</plist>